body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background-image: url("images/uni.webp");
    background-size: 1000px;
    color: white;
    margin:100px;
}

h1, h2, h3, h4, p {
    text-shadow: 5px 5px 10px violet;
    background: #59BBB5;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;   
}

#bff-img {
    width: 350px;
    height: 250px;
    border-radius: 50%;
    border: 6px solid white;
    margin-bottom: 10px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 200px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("https://media.giphy.com/media/3o7aD2bww8abIWwFmE/giphy.gif");
}

#gift-img-hot:hover {
    background-image: url("https://media.giphy.com/media/kcZPBnwMkbKSgdTdK9/giphy.gif");
}

#gift-img-sweet:hover {
    background-image: url("images/6.jpeg");
    background-size: 300px;
}

#gift-img-smart:hover {
    background-image: url("images/7.jpeg");
}

#gift-img-brave:hover {
    background-image: url("images/4.jpeg");
    background-size: 400px;
}

#gift-img-brave:hover {
    background-image: url("images/4.jpeg");
    background-size: 400px;
}

#gift-img-curious:hover {
    background-image: url("images/5.jpeg");
}

#gift-img-relaxed:hover {
    background-image: url("images/3.jpeg");
}

#gift-img-loved:hover {
    background-image: url("images/8.jpeg");
}

#gift-img-love:hover {
    background-image: url("https://media.giphy.com/media/26BRv0ThflsHCqDrG/giphy.gif");
}



/* 
Add the footer paragraph according to the design. 
Configure the anchor tag to open the link in a new tab.
Forgotten how to do it? Google it! 

Link: 
https://scrimba.com/learn/htmlandcss

Text:
Want to create your own Birthday GIFt site? Take this HTML & CSS course.
*/